{% extends "base_sidebar.html" %}

{% block scrollbar %}
	<div class="navbar navbar-inverse" id='typetab' role="navigation">
		<ul class="nav">
			<li id="new" style="font-weight:bold;"><a href="#">New</a></li>
			<li id="liked"><a href="#">Liked</a></li>
			<li id="scraped"><a href="#">Scraped</a></li>
		</ul>
	</div>
	<div id="main">
		<ul id="linefeed">
		</ul>
	</div>

{% endblock scrollbar %}

{% block content %}
<span hidden>{{ csrf_token }}</span>
{{ block.super }}
	<input id="start_from" value="0" hidden/>
	<input id="type" value="new" hidden/>
{% endblock content %}


{% block style %}
{{ block.super }}
	{% load static %}
	<link href="{% static 'home.css' %}" rel="stylesheet">

{% endblock style %}


{% block script %}
{{ block.super }}
<script>
	var do_getResult = false;//stops from multiple POST call
	function getTimeline(){

		//get where to start
		var startfrom = $('#start_from').val();
		var type = $('#type').val();
		//ajax call
		$.ajax({
			type: "POST",
			url: '{% url "home:home" %}',
			data: {
				'isscroll': true,
				'startfrom': startfrom,
				'type': type,
			},
			success: function(data){
				/*---create DOMs and append them---*/
				for(var i in data.entity){
					dom_entity = $('<li></li>', {
						class: 'entity',
						id: 'entity'+startfrom+i,
						role: 'entity',
					});

					//layouting
					var dom_background = $('<div></div>', {
						class: 'entitysection-background',
						id: dom_entity.attr('id')+'-background',
					}).css('background-image', 'url('+data.entity[i].bgimage_url+')');
					var dom_backcontainer = $('<div></div>',{
						class: 'entitysection-backcontainer'
					});
					var dom_header = $('<div></div>', {
						class: 'entitysection-header',
						id: dom_entity.attr('id')+'-header',
					});
					var dom_footer = $('<div></div>', {
						class: 'entitysection-footer',
						id: dom_entity.attr('id')+'-footer',
					});
					dom_background.append(dom_backcontainer);
					dom_backcontainer.append(dom_header).append(dom_footer);
					dom_entity.append(dom_background).appendTo('#linefeed');

					//---header: add author, title, and tag
					var header_author = $('<div></div>', {
						href: '/user/'+data.entity[i].author,
					}).html('<a class="header header-author"><span>'+data.entity[i].author+'</span></a>');
					var header_title = $('<div></div>', {
						href: '/'+data.entity[i].objtype+'/'+data.entity[i].author+'/'+data.entity[i].title,
					}).html('<a class="header header-title"><span>'+data.entity[i].title+'</span></a>');
					var header_pk = $('<input></input>', {
						role: 'pk',
					}).val(data.entity[i].pk).hide();

					dom_header.append(header_author).append(header_title).append(header_pk);
					//tags
					for(var tag_index in data.entity[i].tag){
						var tagspan = $('<a></a>', {
							href: '/search/tag/'+data.entity[i].tag[tag_index],
						}).html('<span class="footertag">'+data.entity[i].tag[tag_index]+'</span>');
						dom_header.append(tagspan);
					}

					//---footer: show tags and like/scrap buttons
					//comment/like/scrap
					var comment_button = $('<button></button>', {
						class: 'btn btn-default entitybutton entitybutton-comment',
						title: 'View comments',
						role: 'comment',
					}).html('<span class="glyphicon glyphicon-comment"></span>'+'<span>'+data.entity[i].comment_num+'</span>');
					var like_button = $('<button></button>', {
						class: 'btn btn-default entitybutton entitybutton-rightopen entitybutton-like',
						title: 'Like',
						role: 'like',
					}).html('<span class="glyphicon glyphicon-heart"></span>'+'<span>'+data.entity[i].liked_num+'</span>');
					if(data.entity[i].liked_on) like_button.css('color', '#ff6666');
					var scrap_button = $('<button></button>', {
						class: 'btn btn-default entitybutton entitybutton-leftopen entitybutton-scrap',
						title: 'Scrap',
						role: 'scrap',
					}).html('<span class="glyphicon glyphicon-star"></span>');
					if(data.entity[i].scraped_on) scrap_button.css('color', '#ffc400');

					dom_footer.append(scrap_button).append(like_button).append(comment_button);

					//add propercss class
					if(data.entity[i].objtype == 'journal'){
						dom_entity.addClass('entity-journal');
					}
					else{
						dom_entity.addClass('entity-track');

						//add player
						//player division 
						var player = $('<div></div>', {
							class: 'entity-player',
							id: dom_entity.attr('id')+'-player',
							role: 'player',
						});
						var player_small = $('<div></div>', {
							class: 'entity-player entity-player-small',
						}).hide();
						var button_section = $('<div></div>', {
							class: 'player-buttondiv'
						});
						var scrubber_section = $('<div></div>', {
							class: 'player-timebardiv',
						});
						var timedigit_section = $('<div></div>', {
							class: 'player-timedigitdiv'
						});
						//assembly div
						player.append(player_small);
						player_small.append(button_section).append(scrubber_section).append(timedigit_section);
						dom_header.after(player);

						//player components
						var audio = $('<audio></audio>', {
							class: 'audio',
							src: data.entity[i].track.audio_url,
							preload: 'none',
						});
						var overlapped_button = $('<button></button>', {
							class: 'btn btn-default audiobutton audiobutton-overlapped',
							title: 'Play the track',
						}).html('<span class="glyphicon glyphicon-play"></span><span>Play</span>');
						var play_button = $('<button></button>', {
							class: 'btn, btn-default audiobutton audiobutton-small',
							role: 'play',
							title: 'Play',
						}).html('<span class="glyphicon glyphicon-play"></span>').hide();
						var pause_button = $('<button></button>', {
							class: 'btn, btn-default audiobutton audiobutton-small',
							role: 'pause',
							title: 'pause',
						}).html('<span class="glyphicon glyphicon-pause"></span>');
						var scrubber_wrapper = $('<div></div>', {
							class: 'wrapper-scrubber',
						});
						var scrubber = $('<span></span>', {
							class: 'scrubber scrubber-background',
							id: dom_entity.attr('id')+'-scrubber',
						});
						var scrubber_loaded = $('<span></span>', {
							class: 'scrubber scrubber-loaded',
							id: dom_entity.attr('id')+'-scrubber-loaded',
						});
						var scrubber_played = $('<span></span>', {
							class: 'scrubber scrubber-played',
							id: dom_entity.attr('id')+'-scrubber-played',
						});
						var scrubber_nav = $('<span></span>', {
							class: 'scrubber scrubber-nav',
							id: dom_entity.attr('id')+'-scrubber-nav',
						});
						var playtime = $('<span></span>', {
							class: 'playtime',
							id: dom_entity.attr('id')+'-playtime',
						}).text('00:00');
						//assembly components
						player.append(audio).append(overlapped_button);
						button_section.append(play_button).append(pause_button);
						scrubber_wrapper.append(scrubber);
						scrubber_section.append(scrubber_wrapper);
						scrubber.append(scrubber_loaded).append(scrubber_played).append(scrubber_nav);
						timedigit_section.append(playtime);

						//define component actions
					}
				}
				/*---change startfrom---*/
				var entitynum = data.entitynum;
				$('#start_from').val(Number(startfrom)+entitynum);

				/*---adjust div height---*/
				var content_height = $('#linefeed').height();
				$('#content').css('height', content_height+60+52);//set contentdiv height
				$(window).trigger('page:appended');//set inner div height
				do_getResult = true;

				//action
			},
			failure: function(data){

			},
		});
	}
	$(document).ready(function(){
		$.ajaxSetup({
			headers: {'X-CSRFToken': getCookie("csrftoken")}
		});

		//on load, get 8 entities from the server
		$('#start_from').val(0);
		getTimeline()
		$(window).scroll(function(e){//scroll loading event
			if(do_getResult){
				//if page has reached the bottom, load more docs
				if($(window).scrollTop()+$(window).height() >= ($(document).height())-30){
					do_getResult = false;
					getTimeline();
				}
			}
		});
		$(window).on('page:appended', function(e){
		 	//set div heigth according to #content
		 	var height_content = $('#content').css('height');
		 	$('#scrollbar').css('height', height_content);
		 	$('#sidebar').css({
		 		'height': height_content,
		 		'top': '-'+height_content,
		 	});
		});

		//like/scrap button 
		$(document).on('click', '[role="like"]', function(e){
			$.ajax({
				type: 'POST',
				url: "{% url 'posting:like' %}",
				data: {
					post_pk: $(e.target).parents('[role="entity"]').find('[role="pk"]').val(),
				},
				success: function(data){
					if(data.error){
						console.log(data.error);
					}
					else{
						$(e.target).parents('[role="entity"]').find('[role="like"] span:last-child').text(data.like_num);
						if(data.on == true) $(e.target).parents('[role="entity"]').find('[role="like"]').css('color', '#ff6666');
						else $(e.target).parent().parents('[role="entity"]').find('[role="like"]').css('color', '#ffffff');
					}
				}
			});
		});
		$(document).on('click', '[role="scrap"]', function(e){
			$.ajax({
				type: 'POST',
				url: "{% url 'posting:scrap' %}",
				data: {
					post_pk: $(e.target).parents('[role="entity"]').find('[role="pk"]').val(),
				},
				success: function(data){
					if(data.error){
						console.log(data.error);
					}
					else{
						if(data.on == true) $(e.target).parents('[role="entity"]').find('[role="scrap"]').css('color', '#ffc400');
						else $(e.target).parent().parents('[role="entity"]').find('[role="scrap"]').css('color', '#ffffff');
					}
				}
			});
		});
	});	
</script>	
{% endblock script %}