{% extends "base_navigator.html" %}
{% block style %}
{{ block.super }}
	<style>
	.scrollbar {
		background-color: #232323;
		height: 1800px;
		width: 100%;
		border: solid 1px #2a2a2a;
		padding: 5px;
	}
	@media all and (min-width:768px){
		.scrollbar {
			position: relative;
		}
		.sidebar {
			position: relative;
			width: 400px;
			height: 1800px;
			left: 100%;
			top: -1800px;
			background-color: #dadada;
			padding: 20px;
		}
		.content {
			padding-right: 400px;
			overflow: hidden;
		}
	}
	</style>
{% endblock style %}

{% block content %}
<div class="content top52" id="content">
	<div class="scrollbar" id="scrollbar">
		{% block scrollbar %}
		{% endblock scrollbar %}
	</div>

	<div class="sidebar hidden-xs" id="sidebar">
		{% block sidebar %}
		{% endblock sidebar %}
	</div>
</div>
{% endblock content %}

{% block script %}
{{ block.super }}

{% endblock script %}
