{% extends "base.html" %}
{% block style %}
	<style>
	.content {
		background-color: #111111;
		width: 100%;
		max-width: 1400px;
		padding: 0;
		padding-bottom: 52px;
		height: 1800px;
	}
	.profilespan {
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}
	[role="profilepic"]{
		border-radius: 50%;
		width: 20px;
		height: auto;
	}
	@media all and (min-width:768px){
		.content {
			margin-left: auto;
			margin-right: auto;
			border: solid 1px #333333;
		}
	}
	.navbar-right {
		margin-right: 10px;
	}
	</style>
{% endblock style %}

{% block body %}
	<header class="topbar">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'home:home' %}">Pulsecode</a></li>
			</div>
			<div class="collapse navbar-collapse" id="menu">
				<ul class="nav navbar-nav" id="common">
					<li><a href="{% url 'home:academy' %}">Academy</a></li>
					<li><a href="{% url 'home:tune' %}">Tune</a></li>
					<li><a href="{% url 'home:journal' %}">Journal</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" id="user_specific">
					<li class="dropdown">
						<a class="dropdown-toggle btn btn-sm" data-toggle="dropdown"><span class="glyphicon glyphicon-circle-arrow-up"></span> Write<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'upload:track' %}">Track</a></li>
							<li><a href="{% url 'upload:journal' %}">Journal</a></li>
							<li><a href="{% url 'upload:tutorial' %}">Tutorial</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle btn btn-sm" data-toggle="dropdown"><span class="profilespan"><img src="{{ picture }}" role="profilepic"/></span> {{ name }}</a>
						<ul class="dropdown-menu">
							<li><a href="#">Profile</a></li>
							<li><a href="{% url 'login:setup' %}">Config</a></li>
							<li><a href="{% url 'login:logout' %}">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	{% block content %}
	{% endblock content %}
{% endblock body %}

{% block script %}
{{ block.super }}
<script>
	$(document).ready(function(){
		{% if not name %}
			$('header').remove();
		{% endif %}
	})

</script>
{% endblock script %}