{% extends "base_navigator.html" %}
{% block style %}
{{ block.super }}
	<style>
	.scrollbar {
		background-color: #232323;
		height: 100%;
		width: 100%;
		border: solid 1px #2a2a2a;
		overflow: hidden;
	}
	@media all and (min-width:768px){
		.scrollbar {
			position: relative;
		}
		.sidebar {
			position: relative;
			width: 400px;
			height: 100%;
			left: 100%;
			top: -100%;
			background-color: #aaaaaa;
			overflow: hidden;
			padding: 20px;
		}
		.content {
			padding-right: 400px;
		}
	}
	</style>
{% endblock style %}

{% block content %}
<div id="main">
	<div class="scrollbar">
		{% block scrollbar %}
		{% endblock scrollbar %}
	</div>

	<div class="sidebar hidden-xs">
		{% block sidebar %}
		{% endblock sidebar %}
	</div>
</div>
{% endblock content %}

{% block script %}
{{ block.super }}

{% endblock script %}
